<%= form_tag :posts, method: :get do %>
  <%= search_field_tag :query, params[:query], placeholder: "Enter keyword" %>
  <%= submit_tag "Search" %>
<% end %>

<p>
  <%= link_to "Ascending", order_by(:asc) %>
  <%= link_to "Descending", order_by(:desc) %>
</p>

<% @posts.each do |post| %>
  <article>
    <h3>
      <%= link_to post.title, post %>
    </h3>
    <div class="content">
      <figure><%= image_tag post.image_path %></figure>
      <p><%= simple_format truncate(post.body, length: 200) %></p>
    </div>
  </article>
<% end %>

<%= paginate @posts %>
